<div *ngIf="error$ | async as error">
  <h1 class="error-message"><mat-icon>error</mat-icon> {{ error }}</h1>
</div>
<div class="form-container">
  <form [formGroup]="createForm" (ngSubmit)="createActivity()" class="create-container">
    <h1>Create Activity</h1>
    <mat-form-field>
      <mat-select placeholder="Select Activity" formControlName="activity" required>
        <mat-option value="Read Article">Read Article</mat-option>
        <mat-option value="Wrote Blog Post">Wrote Blog Post</mat-option>
        <mat-option value="Listened to Podcast">Listened to Podcast</mat-option>
        <mat-option value="Watched Video">Watched Video</mat-option>
        <mat-option value="Attended Lecture">Attended Lecture</mat-option>
        <mat-option value="Built Hello World App">Built Hello World App</mat-option>
        <mat-option value="Resolved Production Issue">Resolved Production Issue</mat-option>
        <mat-option value="Attended Meetup">Attended Meetup</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Activity Link" formControlName="link" required>
    </mat-form-field>
    <mat-error *ngIf="createForm.hasError('required')">please fill out all fields</mat-error>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!createForm.valid">Create</button>
      <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>

