.login-container {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

// .login-container > * {
//   width: 100%;
// }

.cancel-button {
  margin-top: 1em;
}

.button-container {
  display: flex;
  justify-content: space-around;
}
