.display-icon {
  padding: 1em;
}

.display-spacer {
  flex: 1 1 auto;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.login-container > * {
  width: 100%;
}

.add-button {
  margin-right: 1em;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

.display-checkbox {
  margin-right: 1em;
}

.display-list {
  display: flex;
  align-content: space-between;
  border-bottom: solid;
  border-color: lightblue;
}

.input-item {
  display: flex;
  justify-content: left;
}

.create-button {
  margin-top: 1em;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

// .logo-image {
//   height: 50%;
//   width: 50%;
// }

.button-container {
  display: flex;
  justify-content: space-around;
}

.title {
  color: black
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  color: gold;
}

.trophy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em;
}

.trophy {
  width: 10em;
  height: 12em;
}
