<!-- <div *ngIf="afAuth.user | async as user; else showLogin">
  <button mat-raised-button color="primary" (click)="content()">Overwatch Challenge</button>
</div> -->
<div class="title-container">
  <h1 id="WelcomeTitle">Overwatch Challenge</h1>
  <p>Are you worthy of the challenge?</p>
</div>
<div class="button-container">
  <button mat-raised-button color="primary" (click)="login()" id="login">Login User</button>
  <button mat-raised-button color="accent" (click)="createUser()">Create User</button>
</div>
<div class="trophy-container">
  <img src="./assets/trophy.png" class="trophy">
</div>
<div class="link-container">
  <div class="link-item">
    <a href="https://www.github.com/andrewevans0102/overwatch-challenge"><i class="fab fa-github fa-2x"></i><p>repo</p></a>
  </div>
  <div class="link-item">
    <a href="https://andrewevans0102.github.io/overwatch-challenge/"><i class="fas fa-book fa-2x"></i><p>docs</p></a>
  </div>
  <!-- <div class="link-item2">
    <a href="https://www.twitter.com/andrewevans0102"><i class="fab fa-twitter fa-2x"></i></a>
  </div> -->
  <div class="link-item">
    <a href="https://join.slack.com/t/overwatch-challenge/shared_invite/enQtNzQxMzAwODEzMDA4LTU0OWIzNDRmZDUwMmMzMTY0NDUyYjhkMDcxYTgzZTFmNzlmOGQ3ODA0ODAzYTBjNzQ1ODU5NmJkNDFiOWQ3ODQ"><i class="fab fa-slack fa-2x"></i><p>slack</p></a>
  </div>
  <div class="link-item2">
    <a href="https://blog.angularindepth.com/why-building-with-a-jamstack-is-awesome-49618fd21198"><img src="../../../assets/angular-in-depth.png" class="aid-image"></a>
  </div>
</div>
