.button-container {
  display: flex;
  justify-content: space-around;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  color: gold;
}

.trophy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em;
}

.trophy {
  width: 10em;
  height: 12em;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.info-container > ul > li > p {
  font-size: 1.5em;
}

.info-container > ul > li > p > a {
  margin: 0.25em;
}

// .title-container > h1 {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   margin: 0.5em;
// }
