<!-- <div *ngIf="afAuth.user | async as user; else showLogin">
  <button mat-raised-button color="primary" (click)="content()">Overwatch Challenge</button>
</div> -->
<div class="title-container">
  <h1 id="welcomeTitle">Weclome!</h1>
</div>
<div class="button-container">
  <button mat-raised-button color="primary" (click)="login()" id="login">Login User</button>
  <button mat-raised-button color="accent" (click)="createUser()">Create User</button>
</div>
<div class="info-container">
  <ul>
    <li>
      <p>Learn and compete at the same time!</p>
    </li>
    <li>
      <p>Checkout the project repo<a href="https://www.github.com/andrewevans0102/overwatch-challenge">here</a></p>
    </li>
    <li>
      <p>See how the project works<a href="https://andrewevans0102.github.io/overwatch-challenge/">here</a></p>
    </li>
    <li>
      <p>Contact <a href="https://www.github.com/andrewevans0102"> Andrew </a> to Register!</p>
    </li>
  </ul>
</div>
<div class="trophy-container">
  <img src="./assets/trophy.png" class="trophy">
</div>
