.toolbar-space {
  flex: 1 1 auto;
}

.content-parent {
  display: flex;
  flex-direction: column;
  border: solid;
}

.content-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: solid;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  font-size: 2em;
}

.activities {
  display: flex;
  border-left: solid;
  flex-direction: column;
}

.rules-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.delete-button {
  color: red;
  margin-left: 2em;
}

li {
  height: 2em;
  margin: 1em;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.top-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.trophy {
  width: 5em;
  height: 7em;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
