/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'custom_style.scss';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: midnightblue;
  color: lightgray;
}

// h1 {
//   // font-family: 'Rubik Mono One', sans-serif;
//   font-family: 'Press Start 2P', cursive;
// }

h1 {
  // font-family: 'Merriweather', serif;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: 'Titillium Web', sans-serif;
}

th {
  font-family: 'Titillium Web', sans-serif;
}

td {
  font-family: 'Titillium Web', sans-serif;
}
