<div class="top-page">
  <h1>Activities</h1>
  <button mat-raised-button color="warn" type="button" (click)="goBack()">Go Back</button>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <!-- <th scope="col">Last Name</th> -->
      <!-- <th scope="col">Activity</th> -->
      <th scope="col">Description</th>
      <!-- <th scope="col">Points</th> -->
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let activity of teamActivity | async">
      <td>
        <div class="name">
          <span>
              {{ activity.firstName }}
          </span>
          <span>
              {{ activity.lastName }}
          </span>
        </div>
      </td>
      <!-- <td>{{ activity.lastName }}</td> -->
      <!-- <td>{{ activity.activity }}</td> -->
      <td><a href="{{ activity.link }}">{{ activity.description }}</a></td>
      <!-- <td>{{ activity.points }}</td> -->
      <td><button type="button" class="btn btn-danger round-button" (click)="deleteItem(activity)" *ngIf="activity.uid === this.afAuth.auth.currentUser.uid">X</button></td>
    </tr>
  </tbody>
</table>
